body {
  background-color: rgba(140, 137, 149, 0.8);
}
.menu {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 500px;
  margin-right: 500px;
  padding: 0;
  position: relative;
  top: 80px;
  background-color: rgba(62, 137, 154, 0.8);
  left: 0;
  height: 450px;
  border-radius: 4px;
}



.bt {
  text-align:center;
  text-align-last: center;
  text-decoration: none;
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  padding: 8px;
  width: 105px;
  background-color: rgb(23, 24, 24);
  border-radius: 12px;
  color:rgb(255, 255, 255);
}


.numer {
  font-size: 20px;
  color: #ffffff;
}
.entrada {
  margin-top: 5px;
  font-size: 20px;
}
bt {
  font-size: 20px;
  background-color: rgb(30, 30, 30);
  color: white;
  text-align: center;
  border: solid 0px;
  border-radius: 8px;
}
button {
  font-size: 20px;
  background-color: rgb(30, 30, 30);
  color: white;
  border: solid 0px;
  border-radius: 8px;
}
a{
  
  font-size: 30px;
  color: #ffffff;
}
label{
  color: #ffffff;
  font-size: 20px;
  margin-left: 50px;
}
div{
  margin: 20px;
}
select{
  font-size: 15px;
}
#precios{
  
  width: 90%;
  
  margin: auto;
  color: #000000;
  background-color: #ffffff;
}
p{
  padding: 10px;
  text-align: center;
}
h3{
  padding: 10px;
  text-align: center;
}